<p>
  my-tweets works!
</p>

<a href="https://www.w3schools.com/html?v=as"> html </a>
<div [innerHtml]="htmlData"> </div>
<div class="container"  style="padding:3vw 25vw 3vw 25vw;">

    <div class="row" style=" margin-bottom:10px">
        <form #myForm="ngForm">
            <div class="input-group">
                <textarea type="text" class="form-control" maxlength="1024" [mention]="handles" (ngModelChange)="valuechange($event)" placeholder="tweet" [(ngModel)]='tweetPost' name="tweet" id="tweet" required >
                </textarea>

                
                <!-- <textarea type="text" class="form-control"   placeholder="tweet" [(ngModel)]='tweetPost' (ngModelChange)="valuechange($event)" name="tweet" id="tweet" required >           
                </textarea>  
                <div *ngIf="handles">
                        <li *ngFor = "let handle of handles "> {{handle}} </li>
                </div> 
                -->


            </div> 
          
            <button (click)="postTweet() "  [disabled]="!myForm.valid"  class="btn btn-default" type="submit">Post</button>
        </form>
    </div>
    
    <div class="container" #tweetList>
    <div class="row" *ngIf="tweets" >
      <div *ngFor="let tweet of tweets" style="border: solid 2px rgb(212, 219, 219); width:30vw; margin-bottom:10px">
          <div class="tweet-content"> 
                <!-- <p>{{tweet.content}} <br>  </p>  -->
                    <div [innerHtml]="tweet.content|linkhandle"> </div>
                <p class="text-center">-{{tweet.createdAt | date :'short'}} </p>
               
                
          </div>
      </div>
    </div>
    </div>
</div>