<div class="navbar navbar-default  navbar-inverse" role="navigation">
  <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink="/dashboard" routerLinkActive="active">jobPortal</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>   


            <form class="navbar-form navbar-left" >
            <div class="input-group">
              <input type="text" class="form-control"  placeholder="Search" [(ngModel)]='search' name="search" id="search">
              <div class="input-group-btn">
                <button (click)="searchJobs()" class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
            </form> 
        
        
        
        
        </li>
          <li><a  *ngIf="authService.checkUserType()=='Company'" routerLink="company/profile"><span class="glyphicon glyphicon-user"></span> Comapny Profile  </a></li>   
          <li><a  *ngIf="authService.checkUserType()=='JobSeeker'" routerLink="seeker/seekerProfile"><span class="glyphicon glyphicon-user"></span> User Profile </a></li>             
          <li><a routerLink="register" *ngIf="!authService.loggedIn()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a routerLink="login"  *ngIf="!authService.loggedIn()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a (click)="authService.logOutUser()"  *ngIf="authService.loggedIn()"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
        </ul>


          <ul class="nav navbar-nav">
              <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Jobs <span class="caret"></span></a>
                  <ul class="dropdown-menu multi-level">
                      <li><a routerLink="/jobs" [queryParams]="{'field':'all',value:'all'}">All Jobs</a></li>
                      <li class="dropdown-submenu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs By Location</a>
                            <ul class="dropdown-menu" *ngIf="jobFields">
                              <li *ngFor="let location of jobFields.location">
                                <a routerLink="/jobs" [queryParams]="{'field':'location',value:location  }" >{{location}}</a></li>
                            </ul> 
                      </li>
                      <li class="dropdown-submenu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jobs By Domain</a>
                            <ul class="dropdown-menu" *ngIf="jobFields">
                              <li *ngFor="let domain of jobFields.domain">
                                <a  routerLink="/jobs" [queryParams]="{'field':'domain',value:domain  }" >{{domain}}</a></li>
                            </ul> 
                      </li>
                  </ul>
              </li>


              <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Companies <span class="caret"></span></a>
                  <ul class="dropdown-menu multi-level">
                      <li><a routerLink="/companies" [queryParams]="{'field':'all',value:'all'}">All Companies</a></li>
                      <li class="dropdown-submenu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Companies By Location</a>
                            <ul class="dropdown-menu" *ngIf="companyFields">
                              <li *ngFor="let location of companyFields.location">
                                <a routerLink="/companies" [queryParams]="{'field':'location',value:location  }">{{location}}</a>
                              </li>
                            </ul> 
                      </li>
                      <li class="dropdown-submenu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Companies By Domain</a>
                            <ul class="dropdown-menu" *ngIf="companyFields">
                              <li *ngFor="let domain of companyFields.domain">
                                <a  routerLink="/companies" [queryParams]="{'field':'domain',value:domain  }">{{domain}}</a>
                              </li>
                            </ul> 
                      </li>
                  </ul>
              </li>
          </ul>
      </div><!--/.nav-collapse -->
  </div>
</div>
