<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Lazy Loading</a>
    </div>


    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a routerLink="register" *ngIf="!authService.loggedIn()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a routerLink="login" *ngIf="!authService.loggedIn()" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href="#" *ngIf="authService.loggedIn()"  (click)="authService.logOutUser()
        "><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li> -->
        <li><a routerLink="post"> Posts </a></li>
    </ul>
  </div>
</nav>