<div *ngIf="!fileUpload">
    <div  style=" width:400px" class="center"> 
        <h2 style="text-align: center;">{{ userNameTo }} 
          <span *ngIf="userStatus" class="dot" style="background-color:green;" >  </span>
           <span *ngIf="!userStatus" class="dot" style="background-color:rgb(91, 97, 91);"> </span></h2>
      
        <div *ngFor="let msg of messageArray; let  i = index">     
                <div *ngIf="msg.userNameFrom==userName;else other" id="currentuser">
                    <div class="msg">
                              <div *ngIf="msg.messageType=='text'">  <p> {{ msg.message }} </p>  </div>
                              <div *ngIf="msg.messageType=='image'">
                                  <img id="myImg" [src]="msg.message" alt="Snow" style="width:100%;max-width:100px" (click)="preview($event)">
                              </div>
                              <div *ngIf="msg.messageType=='audio'">  <audio controls="controls" [src]='msg.message|domSanitizer'>   </audio> </div>
                              <span *ngIf="msg.status=='sent'">
                                <i class='fas fa-check'></i>{{msg.status}}
                              </span>
                              <span *ngIf="msg.status=='delivered'">
                                <i class='fas fa-check-double'></i>
                              </span>
                              <span *ngIf="msg.status=='read'">
                                <i class='fas fa-check-double' style='color:rgb(9, 189, 189)'></i>
                              </span>
                    </div>  
                </div>    
      
                <ng-template #other >
                      <div id="otheruser" (mouseenter)="markRead(msg)">
                              <div *ngIf="msg.messageType=='image'">
                                      <img id="myImg" [src]="msg.message" alt="img" style="width:100%;max-width:100px" (click)="preview($event)">
                              </div>
                              <div *ngIf="msg.messageType=='text'">  <p> {{ msg.message }} </p>  </div>
                              <div *ngIf="msg.messageType=='audio'">  <audio controls="controls" [src]='msg.message|domSanitizer'>   </audio> </div>
                              
                      </div>             
                </ng-template>    
         </div>
         <!-- <div *ngIf="fileUploadQueue">
                <div *ngIf="file.type=='image'">
                        <img id="myImg" [src]="msg.message" alt="img" style="width:100%;max-width:100px" (click)="preview($event)">
                </div>
         </div> -->
        <p *ngIf="isTyping" class="isTyping">{{userNameTo}} is typing...</p>
      
        <div class="msgBox">
            <br>
            <input (keypress)="typing()" (keydown)="keyDownFunction($event)" [(ngModel)]="message" name="message" type="text" placeholder="Message" style="width:70%">
            <button (click)="uploadMedia('image')"> <span><i class="fa fa-image"></i></span> </button>  
            <button (click)="uploadMedia('audio')"> <span class="glyphicon glyphicon-music"></span> </button>       
            <button id="send" (click)="sendMessage('text')" style="margin-left:80%; width:15%">Send</button>    
        </div>
      
      </div>


</div>
 

<!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>



  <!-- File Upload -->


<div *ngIf="fileUpload">    
    <div *ngIf="uploadMetaData.messageType=='image'">
        <h1>   Send Images </h1>
        <form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
               <input type="file" (change)="onFileChange($event)"  multiple="true" accept="image/*"/>
              <button type="submit">Send</button>
        </form>
      
      
      
        <div *ngIf="files">
            <div *ngFor="let imgURL of files; let i = index">      
              <img [src]="imgURL" height="200" *ngIf="imgURL"> <button (click)="remove(i)"> Remove </button>
            </div>
        </div> 
    </div>




    <div *ngIf="uploadMetaData.messageType=='audio'">
          <h1>   Send Audio </h1>        
      <form [formGroup]="formGroup" novalidate (ngSubmit)="onSubmit()">
             <input type="file" (change)="onFileChange($event)" multiple="multiple" accept="audio/*"/>
            <button type="submit">Send</button>
      </form>
    </div>
</div> 


<!-- <div class="loader">Loading...</div> -->